createdAt: "2022-02-25T21:56:05.480Z"
updatedAt: "2022-02-25T21:56:54.956Z"
type: "MARKDOWN_NOTE"
folder: "dcff5c474dc652dd4143"
title: "Mobile Updates"
tags: []
content: '''
  # Mobile Updates
  - update assets
  - Check ports and urls
  - update build or version
  - 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
