createdAt: "2022-04-29T21:53:24.438Z"
updatedAt: "2022-04-29T22:07:06.779Z"
type: "MARKDOWN_NOTE"
folder: "ac58701b3f736acd0582"
title: "JSON Web Token (JWT)"
tags: []
content: '''
  # JSON Web Token (JWT)
  
  ## Structure
   - Header
   - Payload
   - Signature
  
  ## Header
  The header typically consists of two parts: the type of the token, which is JWT, and the signing algorithm being used, such as HMAC SHA256 or RSA.
  
  {
    "alg": "HS256",
    "typ": "JWT"
  }
  
  Then, this JSON is Base64Url encoded to form the first part of the JWT.
  
  ## Payload
  The second part of the token is the payload, which contains the claims. Claims are statements about an entity (typically, the user) and additional data. There are three types of claims: registered, public, and private claims.
  
  ### Registered claims
  These are a set of predefined claims which are not mandatory but recommended, to provide a set of useful, interoperable claims. Some of them are: iss (issuer), exp (expiration time), sub (subject), aud (audience), and others.
  
  ### Public claims
  These can be defined at will by those using JWTs. But to avoid collisions they should be defined in the IANA JSON Web Token Registry or be defined as a URI that contains a collision resistant namespace.
  
  ### Private claims
   These are the custom claims created to share information between parties that agree on using them and are neither registered or public claims.
   
   #### Example
   {
    "sub": "1234567890",
    "name": "John Doe",
    "admin": true
  }
  
  ## Signature
  To create the signature part you have to take the encoded header, the encoded payload, a secret, the algorithm specified in the header, and sign that.
  
  For example if you want to use the HMAC SHA256 algorithm, the signature will be created in the following way:
  
  HMACSHA256(
    base64UrlEncode(header) + "." +
    base64UrlEncode(payload),
    secret)
    
    
    ###### Test - [JSON Web Tokens - jwt.io](https://jwt.io/#debugger-io)
    ###### Source - [JSON Web Token Introduction - jwt.io](https://jwt.io/introduction)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
