createdAt: "2021-09-16T17:09:30.028Z"
updatedAt: "2021-09-16T17:09:33.324Z"
type: "SNIPPET_NOTE"
folder: "42a41fd7d4cf9d13216b"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: null
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
