createdAt: "2022-04-12T22:33:23.779Z"
updatedAt: "2022-04-12T22:36:24.807Z"
type: "MARKDOWN_NOTE"
folder: "0c20a59c8e171a3fb7e3"
title: "Troubleshooting"
tags: []
content: '''
  # Troubleshooting
  - /Users/davidbrabbins/Library/MobileDevice - delete content in provison folder
  - 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
