createdAt: "2023-02-09T04:08:07.061Z"
updatedAt: "2023-02-09T04:18:11.484Z"
type: "MARKDOWN_NOTE"
folder: "24d1c23951d2843280d5"
title: "Types"
tags: []
content: '''
  # Types
  - numbers
  - boolean
  - undefined
  - string
  - null
  - Symbol
  
  ## Null is an object. A mistake...
  
  ## What about objects, arrays, and functions
  - They are all objects
  
  ## Primatives and Non-primative
  ### Primatives
  data that represents a single data value
  
  ### Non-primative
  Refrences that can contain primatives
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
