createdAt: "2022-05-19T16:07:17.282Z"
updatedAt: "2022-05-19T16:07:23.173Z"
type: "MARKDOWN_NOTE"
folder: "42a41fd7d4cf9d13216b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
